.list-style {
  display: flex;
  background-color: #378caf;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 50px;
  align-items: center;
}

.unordered-list {
  overflow: hidden;
  list-style-type: none;
  border-radius: 10px;
}

.id-style {
  margin-right: 10%;
  font-weight: bold;
  font-size: 20px;
  width: 10%;
}

.joke-style {
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  margin-left: 30%;
}
