.each-list {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #cbd5e164;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 50px;
}
.id-style-row {
  font-size: 18px;
  margin-right: 10%;
  width: 10%;
}

.joke-style-row {
  padding-left: 10%;
  font-weight: 400;
  width: 50%;
  margin-left: 5px;
}
